.meetingUserHead{
    display: grid;
    grid-template-columns: 270px 530px;
    border: 1px solid #D6D6D6;
}
.userDetailsShow{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.icon{
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}
.userImage{
    width: 100px;
    height:100px;
    border-radius:50%;
    border:2px solid #0A66C2;
    margin: 20px 0px;
}
.leftSideUser{
    text-align: center;
    border-right: 1px solid #D6D6D6;
    padding: 3px;
    margin: 5px;
    height: 275px;
}.bottomButton{
    height: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.rightBorder{
    border-right: 1px solid #D6D6D6;
}
.table_data{
    height: 45px;
    display: grid;
    align-items: end;
}
.bootomIcon{
    display: grid;
    color: rgb(10, 102, 194);
    height: 73px;
    grid-template-columns: 50% 50%;
    align-items: center;

}

p{
    margin: 0px !important;
}
.rightSideInterview{
    display: flex;
    // justify-content: center;
    flex-direction: column;
}
.tableCard{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: end;
    justify-content: center;
    height: 45px;
    border-bottom: 1px solid #D6D6D6;
}
.button-width{
    width: 180px;
    height: 40px;
    background-color: #0A66C2 !important;
    font-weight: 500;
}
.unfill{
    background-color: white !important;
    border: 1px solid #0A66C2 !important;
    color: #0A66C2 !important;
}
.userDetailsShow::-webkit-scrollbar {
    width: 2px; /* Set the width of the scrollbar */
  }
  .userDetailsShow::-webkit-scrollbar-thumb {
    background-color: #0A66C2; /* Set the color of the thumb */
    border-radius: 15px; /* Set the border radius of the thumb */
  }
  .userDetailsShow::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Set the color of the track */
  }