.smallimg{
    height: 130px;
}
.bigimg{
    height: 300px;
    position: relative;
    right: -30px ;
}
.assessmentcard{
    // width: 620px;
    height: 350px;
    background: rgb(18,106,195);
    background: linear-gradient(90deg, rgba(18,106,195,1) 0%, rgba(89,148,206,1) 100%);
    padding: 30px;
    box-shadow: 4px -4px 25px 0 #00000026;
    border-radius: 8px;
}
.topassess{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 150px;
}
.iconbox{
    height: 110px;
    width: 110px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.bottomassess{
    display: flex;
    justify-content: space-between;
    height: 150px;
}
.countnum{
    height: 80px;
    font-size: 45px;
    font-weight: bolder;
    display: flex;
}
.counttext{
    height: 60px;
    font-weight: bold;
    display: grid;
    align-items: center;
font-size: 22px;
font-weight: 500;
line-height: 33px;


}
.countobj{
    color: white;
}
.bigimg-div{
    display: grid;
    position: relative;
    bottom: 224px;
}
.viewdetails{
    height: 45px;
    width: 145px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    margin-top: 10px;
}