.filter-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.title{
    text-align: justify;
    font-size: 20px;
    font-weight: bold;
}
.light-tittle{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.left-filter{
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    align-items: center;
}
input{
    border: 1px solid white;
    box-shadow: 4px -4px 25px 0 rgba(0, 0, 0, 0.1490);
    width: 299px;
    padding: 10px;
    border-radius: 3px;
    outline: none;
}

input:hover,input:focus,input:active,input:focus-visible{
    border: 1px solid white !important;
}
.filter{
    box-shadow: 4px -4px 25px 0 rgba(0, 0, 0, 0.1490);
    background-color: white;
}
.input-div{
    text-align: end;
    margin-right: 5px;
}
.search-icon{
    width: 30px;
    height: 30px;
    position: relative;
    right: 38px;
    color:  #3e3e3e;
}