/* styles.css */
.sidebar {
  width: 90px;
  // background-color: white;
  padding: 0;
  // top: 60px;
  gap: 0px;
  border-radius: 0px 40px 0px 0px;
  // opacity: 0px;
  height: 100%;
  position: relative !important;
  // height: 90vh;
}

.sidebar li {
  list-style: none;
  padding-top: 40px;
}

.sidebar li:first-child{
  padding-top: 20px;
}

.sidebar-link {
  display: block;
  color: #333;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar-link:hover {
  color: #007bff;
}
